<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>{% block title %} ADAPLE - {{title}} {% endblock %}</title>
    <title>Ambiente Digital de Aprendizagem de Portugues como Lingua Estrangeira</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "accounts/css/signin.css" %}"/>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-dark bg-info  sticky-top">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">ADAPLE</a>
            </div>

            <ul class="navbar-nav"> {% if user.is_authenticated %} 
                <li class="nav-item">
                     Olá {{ user.username }}! </li>
                <li class="nav-item"> <a href="{% url 'logout' %}" class="btn btn-outline-light">Sair</a></li>
                    
                {% else %}
                   <li class="nav-item">
                    <a href="{% url 'login' %}" class="btn btn-outline-light">Entrar</a>
                    
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>


    <div class="content container">
        {% block content %} {% endblock %}
    </div>


    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> {% endblock %}

</body>

</html>