<!-- templates/signup.html -->
{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} 



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb bg-light" style="margin-bottom: 0px; margin-top: 0px;">
                <li class="breadcrumb-item">
                    <a href="{% url 'accounts:dashboard' %}">Página Inicial</a>
                </li>
                {%block breadcrumb%}{% endblock%}


            </ul>
        </div>
    </div>


    {% if user.is_authenticated and user.eh_professor %}
    <div class="row py-2 my-2">
        <div class="col-md-3 text-light bg-light"> {% with request.resolver_match.url_name as url_name %}
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="{% url 'edp:edps' %}" class="{% if url_name == 'edps' %} active nav-link {% else %} nav-link {% endif %}">
                        <i class="fas fa-chalkboard-teacher"></i> Todas EDA</a>
                <li class="nav-item">
                    <a href="{% url 'edp:pesquisa' %}" class="{% if url_name == 'pesquisa' %} active nav-link {% else %} nav-link {% endif %}">
                        <i class="fas fa-search"></i> Pesquisar EDA</a>
                </li></li>

                <li class="nav-item">
                   
                    <a class="{% if url_name == 'minhas_edps' %} active nav-link {% else %} nav-link {% endif %}" href="{% url 'edp:minhas_edps' %}"> <i class="fa fa-address-book"></i> Minhas EDA</a>
                </li>
                <li class="nav-item">
                   
                        <a class="" href="#"> <i class="fa fa-address-book"></i> Minhas EDA Respondidas</a>
                    </li>
                    
            </ul>{% endwith %}
        </div>
    {% elif user.is_authenticated and user.eh_aluno %}
    <div class="row py-2 my-2">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="{% url 'edp:edps' %}" class="active nav-link">
                        <i class="fa fa-home fa-home"></i>&nbsp;Todas EDA</a>
                </li>
                <li class="nav-item">
                        <a href="{% url 'edp:pesquisa' %}" class="{% if url_name == 'pesquisa' %} active nav-link {% else %} nav-link {% endif %}">
                            <i class="fas fa-search"></i> Pesquisar EDA</a>
                    </li></li>
    
                <li class="nav-item">
                        <a class="{% if url_name == 'respondidas' %} active nav-link {% else %} nav-link {% endif %}" href="{% url 'edp:respondidas' %}"> <i class="fa fa-address-book"></i> Minhas EDA</a>

                </li>
                <hr />
            </ul>
        </div>

    
    
    {% endif %}



    <div class="w-25 p-3 col">
        {% block dashboard %} {% endblock %}

    </div>

</div>
</div>

{% endblock %}