<!-- templates/signup.html -->
{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} 



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb bg-light" style="margin-bottom: 0px; margin-top: 0px;">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                {%block breadcrumb%}{% endblock%}


            </ul>
        </div>
    </div>


    {% if user.is_authenticated and user.eh_professor %}
    <div class="row py-2 my-2">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="{% url 'edp:edps' %}" class="active nav-link">
                        <i class="fa fa-home fa-home"></i>&nbsp;EDA Criadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EDA respondidas</a>
                </li>
                
            </ul>
        </div>
    {% elif user.is_authenticated and user.eh_aluno %}
    <div class="row py-2 my-2">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="{% url 'edp:edps' %}" class="active nav-link">
                        <i class="fa fa-home fa-home"></i>&nbsp;Todas EDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Minhas EDA</a>
                </li>
                
            </ul>
        </div>

    
    
    {% endif %}


    <div class="col">
        {% block dashboard %} {% endblock %}

    </div>

</div>

{% endblock %}