<!-- templates/home.html-->
{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %} {% if user.is_authenticated %} Hi {{ user.username
}}!
<p>
  <a href="{% url 'logout' %}">logout</a>
</p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}


<a href="{% url 'accounts:cadastro'%}" class='btn btn-success btn-larger'>Cadastro</a>

{% if user.is_authenticated and user.eh_professor %}
<p>Você é professor</p>
{% elif user.is_authenticated and user.eh_aluno %}
<p>Você é aluno</p>
{%else%}
<p>Você precisa ser usuário do ambiente e está conectado</p>

{% endif %} {% endblock %}