{% extends 'base.html' %}
{% block dashboard %}

<div class="row">
  <div class="col-lg-12">
  {% if user.is_authenticated and user.eh_professor %}
<a href="{% url 'forum:new_board' %}" class="btn btn-success btn-lg ">NovQuadro</abbr></a>
{% endif %}
</div>
</div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Quadro</th>
        <th>Postagens</th>
        <th>Tópico</th>
        <th>Ultima Postagem</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
