{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block dashboard %}
  <div class="mb-4">
    <a href="{% url 'boards:new_topic' board.pk %}" class="btn btn-primary">Novo Tópico</a>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Tópico</th>
        <th>Autor</th>
        <th>Respostas</th>
        <th>Visualizações</th>
        <th>Ultima atualização</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in board.topics.all %}
        <tr>
          <td>{{ topic.subject }}</td>
          <td>{{ topic.starter.username }}</td>
          <td>0</td>
          <td>0</td>
          <td>{{ topic.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
