<!-- templates/home.html--> 
{% extends 'dashboard.html' %}{%load staticfiles %} {% load wysiwyg %}{% block title %}{{title}}{% endblock %}
{% load bootstrap %}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>

{%block breadcrumb%}  

<li class="breadcrumb-item">
                <a href="#">Estruturas Digital de Aprendizagem</a>
            </li>
            <li class="breadcrumb-item"><a href="#">{{edp}}</a></li>
            <li class="breadcrumb-item active">
                    <a href="#">Adicionar Recursos</a>
                </li>
                {% endblock%}
                
{% block dashboard %}


<form method="post">
        {% csrf_token %}
 

 <h4 class="font-monospace p-2">Recursos para o aprendiz visualizar</h2>
        {% wysiwyg_setup %}
        {% wysiwyg_editor "id_texto" %}


 {{form.texto | bootstrap}}
 {{form.video_embedded | bootstrap}}

<div>
     <p>
             <a href="{% url 'edp:camera' edp.slug %}" class="btn btn-success btn-larger">Gravar Video </a> 
     </p>  


<h4 class="font-monospace p-2">Recursos para o aprendiz usar</h2>
{{form.recebe_texto | bootstrap}}
{{form.recebe_video_embedded | bootstrap}}
{{form.recebe_video | bootstrap}}

        <button class="btn btn-larger btn-primary"type="submit">Salvar Recursos</button>
      </form>
    
  
{% comment %}{% endcomment%}

{% endblock %}
