{% load staticfiles %} {% load static %}


<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'camera/RecordRTC.js' %}"></script>
<script src="{% static 'camera/adapter-latest.js' %}"></script>


    <video id="your-video-id" controls autoplay=""></video>
<div class="form-horizontal">

        <button id="iniciar" class="btn btn-small btn-danger" > Começar gravação </button>

        <button class="btn btn-small btn-success" id="terminar" disabled>Terminar Gravação</button>
        <button class="btn btn-small btn-success" id="salvar-form-com-video" disabled> Salvar </button>
</div>
    
    <script type="text/javascript" src="{% static 'camera/camera.js' %} "></script>
<div class="p-2">

        <a class='btn btn-larger btn-primary' href="{% url 'edp:minhas_edps' %}">Salvar e terminar configuração de recursos</a>
</div>
