{% extends 'dashboard.html' %}{% load staticfiles %} {% load static %}

{% block dashboard %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>


    <video id="your-video-id" controls autoplay=""></video>
<div class="form-horizontal">

        <button id="iniciar" class="btn btn-small btn-danger" > Começar gravação </button>



        <button class="btn btn-small btn-success" id="terminar" disabled>Terminar Gravação</button>
   



</div>
    
    <script type="text/javascript" src="{% static 'camera/camera.js' %} "></script>
<div class="p-2">

        <a class='btn btn-larger btn-primary' href="{{request.META.HTTP_REFERER}}">Continuar adicionando recursos</a>
</div>
    

    {% block javascript%}
  
    {% endblock %}
    {% endblock %}