
{% extends 'base.html' %} 
{% load static %}
{% load bootstrap %} {% load wysiwyg %}
{% block title %} {{title}}{% endblock %}

                

{% block dashboard %} 
<div class="row">
	<div class="col-sm-12">
		<h1 class="page-header">Recursos para <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr>: {{edp}}</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<script src="{% static 'camera/RecordRTC.js' %}"></script>
<script src="{% static 'camera/adapter-latest.js' %}"></script>
<script>

	function populateFormData($form, formData){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
		//indexed_array[n['name']] = n['value'];
		formData.append(n['name'], n['value'])
    });

    return formData;
}


function salvarResposta(form){
console.log(populateFormData($(form),formData))



 $.ajax({
            url: '', // replace with your own server URL
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                alert(data.alerta);
				window.location = data.url;
                console.log(data)
            }
        });


return false;
}

</script>



<div class="row">
        <div class="col-lg-12">
      
    <div class="panel panel-primary ">
        <div class="panel-heading"> Informações sobre a <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></div>
            <div class="panel-body ">
                <p> <b>Nome:</b>{{edp}} </p>
                <p>
                    <strong>Habilidades: </strong>
                    {% for h in edp.habilidades.all %}
                    <ul >
                    <li>{{h}}</li>
                    </ul>
                    {%endfor%}
                </p>
                <p><b>Nível:</b> {{edp.get_nivel_display}}</p>
                <p> <b>Objetivo:</b>{{edp.objetivo_pedagogico}} </p>
                <p><b>Atividades:</b>{{edp.atividades}} </p>
                <p><b>Metodologia:</b>{{edp.metodologia}} </p>
            </div>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- ./row -->

<div class="row">
        <div class="col-lg-12">
    <div class="panel panel-success ">

            <div class="panel-heading "> Recursos de Apresentação</div>
                <div class="panel-body ">
                    {%if recursos.texto != '' %}
                        <b> Texto:</b>
                    </br>
                        <p>{{recursos.texto}}
                            </p>
                        </br>
                    {% endif %}
                             
                        
                    {% load embed_video_tags %}
    
    
                    {% video  recursos.video_embedded as video %}
    
                    <div class="row embed-responsive embed-responsive-16by9"> 
                        Vídeo: 
                            <iframe class= "embed-responsive-item"
                            src="{{video.url}}">
                            </iframe>
                            </div>
                            
    
                    {% endvideo %}
                
                    {% if recursos.video.url !=  '/media/none.mp4'  %}
                    
                    <div class="row embed-responsive embed-responsive-16by9">
                        Video:
                        <video class= "embed-responsive-item" controls allowfullscreen>
                            <source src={{recursos.video.url}}>
                        </video>
                    </div>
                    {% endif%} 
                </div>
        </div>
    
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ./row -->

<div class="row">
        <div class="col-lg-12">
    <div class="panel panel-warning ">
        <div class="panel-heading"> Recursos de Resposta</div>
            <div class="panel-body">
                <form method="POST" name="formulario" onsubmit="return salvarResposta(this)">
                    {% csrf_token %}
                        <div class="form-group">
                            {% if recursos.recebe_texto == True %}
                                {{form.texto | bootstrap}}
                            {% endif%} 
                            {% if recursos.recebe_video_embedded == True %} 
                                {{form.video_embedded | bootstrap}}
                            {% endif %}
                            
                            
                            {% if recursos.recebe_video == True %}  
                            <button type="button" onclick="$('#espaco-video').show(); $(this).hide()" class="btn btn-outline btn-primary btn-lg ">Gravar Video </button>
                            {% endif %}
                            <div id="espaco-video" style="display: none;">
                              
                            <p>Instruções: Clique em Começar, para iniciar a gravação e em terminar para concluir a gravação.
                            </p>
                            <video id="your-video-id" controls autoplay=""></video>
                                <div class="form-horizontal">
                                
                                    <button id="iniciar" class="btn btn-small btn-danger" type="button"> Começar gravação </button>
                        
                                    <button class="btn btn-small btn-success" id="terminar" type="button" disabled>Terminar Gravação</button>
                                </div>
                                    
                                <script type="text/javascript" src="{% static 'camera/camera.js' %} "></script>
                            
                                
                            </div>
    
                           
                                
                        </div>
                    <div class="pull-right">

                    <button class="save btn btn-success" type="submit">Salvar Resposta</button>
                    <a href="#" class="btn btn-danger" href="{{request.META.HTTP_REFERER}}" formnovalidate>Cancelar</a>

                    </div>

                </form>
            </div>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- ./row -->


{% endblock %}