<!-- templates/home.html-->
{% extends 'base.html' %} 

{% load bootstrap %} {% load wysiwyg %}
{% block title %} {{title}}{% endblock %}

                

{% block dashboard %} 

        <form method="post">{% csrf_token %}
                Tem certeza que deseja deletar "{{ edp }}" ?


                <div class="p-2"> 
                    <input class='btn btn-larger btn-danger'type="submit" value="Deletar" />
                        <a class='btn btn-larger btn-primary' href="{{request.META.HTTP_REFERER}}">Voltar</a>
                </div>
               
            </form>
{%endblock%}