<!-- templates/home.html-->
{% extends 'dashboard.html' %}

{% block title %} {{title}}{% endblock %}
 tteste
{% block content_dashboard %}
 teste

<div class="row">
   
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail product-box">
            
            <div class="caption">
                <h3><a href="#">{{edp}}</a></h3>
                <p>Objetivo :<strong> {{edp.objetivo_pedagogico}}</strong></p>
                <p>Atividades :<strong>{{edp.atividades}}</strong></p>
                <p>Metodologia :<strong>{{edp.metodologia}}</strong></p>
                <p>
                    
                    <a href="#" class="btn btn-primary">See Details</a></p>
            </div>
        </div>
    </div>
    

   
</div>
{% endblock %}