<!-- templates/home.html-->
{% extends 'base.html' %} 

{% load bootstrap %} {% load wysiwyg %}
{% block title %} {{title}}{% endblock %}

                

{% block dashboard %} 


    <div class="card border-primary mb-3">
        <div class="card-header bg-primary"> Informações sobre a <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></div>
            <div class="card-body ">
                <p> <b>Nome:</b>{{edp}} </p>
                <p>
                    <strong>Habilidades: </strong>
                    {% for h in edp.habilidades.all %}
                    <ul >
                    <li>{{h}}</li>
                    </ul>
                    {%endfor%}
                </p>
                <p><b>Nível:</b> {{edp.get_nivel_display}}</p>
                <p> <b>Objetivo:</b>{{edp.objetivo_pedagogico}} </p>
                <p><b>Atividades:</b>{{edp.atividades}} </p>
                <p><b>Metodologia:</b>{{edp.metodologia}} </p>
            </div>
    </div>


    <div class="card border-success mb-3">

            <div class="card-header bg-success"> Recursos de Apresentação</div>
                <div class="card-body text-success">
                    {%if recursos.texto != '' %}
                        <b> Texto:</b>
                    </br>
                        <p>{{recursos.texto}}
                            </p>
                        </br>
                    {% endif %}
                             
                        
                    {% load embed_video_tags %}
    
    
                    {% video  recursos.video_embedded as video %}
    
                    <div class="row embed-responsive embed-responsive-16by9"> 
                        Vídeo: 
                            <iframe class= "embed-responsive-item"
                            src="{{video.url}}">
                            </iframe>
                            </div>
                            
    
                    {% endvideo %}
                
                    {% if recursos.video.url !=  '/media/none.mp4'  %}
                    
                    <div class="row embed-responsive embed-responsive-16by9">
                        Video:
                        <video class= "embed-responsive-item" controls allowfullscreen>
                            <source src={{recursos.video.url}}>
                        </video>
                    </div>
                    {% endif%} 
                </div>
        </div></div>
    
    
    
    <div class="card border-dark mb-3">
        <div class="card-header bg-dark"> Recursos de Resposta</div>
            <div class="card-body text-dark">
                <form method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            {% if recursos.recebe_texto == True %}
                                {{form.texto | bootstrap}}
                            {% endif%} 
                            {% if recursos.recebe_video_embedded == True %} 
                                {{form.video_embedded | bootstrap}}
                            {% endif %}
                            
                            {% if recursos.recebe_video %}
                            {% include 'edp/camera.html' %}
                            {%comment%}<p> 
                                <a href="{% url 'edp:camera_resposta' edp.slug %}" class="btn btn-success btn-larger">Gravar Video </a> 
                            </p> {%endcomment%} 
        
                         {% endif %}

                            
                        </div>
                    <div class="pull-right">

                    <button class="save btn btn-success" type="submit">Salvar Resposta</button>
                   
                   
                   
                   



                    <a href="#" class="btn btn-danger" href="{{request.META.HTTP_REFERER}}" formnovalidate>Cancelar</a>

                    </div>

                </form>
            </div>
    </div>

{% endblock %}