{% extends 'base.html' %} {% block title %} {{title}}{% endblock %}
{%load widget_tweaks %}



{% block dashboard %}

<table  class="table table-hover table-stripped table-responsive-sm table-sm">
    <thead>
      <tr>
        <th scope="col table-bordered">Título</th>
        <th scope="col">Habilidades</th>
        <th scope="col">Nível</th>
        <th scope="col">Data</th>
        <th scope="col">Professor(a)</th>
      </tr>
    </thead>
    {% for edp in edps%}
    <tbody>
      <tr>
        <th scope="row">


            <a  {% if edp.recursos %} href="{{edp.get_absolute_url}}" {%endif%} >{{edp}}</a></th>
        <td>{% for h in edp.habilidades.all %}
            <ul class="list-group">
                <li class="ml-4">{{h}}</li>
            </ul>
            {%endfor%}</td>
        <td>{{edp.get_nivel_display}}</td>
        <td>{{edp.created_at |date:"d/m/Y"}}</td>
        <td>{{edp.usuario}}</td>
  {% empty%}
   <td>Nenhuma <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr> disponível.</td>
      </tr>

    </tbody>

    {%endfor%}

  </table>


{% endblock %}