<!-- templates/home.html-->
{% extends 'dashboard.html' %} 

{% load bootstrap %} {% load wysiwyg %}
{% block title %} {{title}}{% endblock %}
{%block breadcrumb%}  

    <li class="breadcrumb-item">
        <a href="#">Estruturas Digital de Aprendizagem</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">{{edp}}</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="#">Responder</a>
    </li>
{% endblock%}
                

{% block dashboard %} 


    <div class="card border-primary mb-3">
        <div class="card-header bg-primary"> Informações sobre a EDP</div>
            <div class="card-body ">
                <p> <b>Nome:</b>{{edp}} </p>
                <p>
                    <strong>Habilidades: </strong>
                    {% for h in edp.habilidades.all %}
                    <ul >
                    <li>{{h}}</li>
                    </ul>
                    {%endfor%}
                </p>
                <p><b>Nível:</b> {{edp.nivel}}</p>
                <p> <b>Objetivo:</b>{{edp.objetivo_pedagogico}} </p>
                <p><b>Atividades:</b>{{edp.atividades}} </p>
                <p><b>Metodologia:</b>{{edp.metodologia}} </p>
            </div>
    </div>

    <div class="card border-success mb-3">

        <div class="card-header bg-success"> Recursos de Apresentação</div>
            <div class="card-body text-success">
                {%if recursos.texto != '' %}
                    <b> Texto:</b> {{recursos.texto}}
                {% endif %}
                
                {% load embed_video_tags %}

                    {% video  recursos.video_embedded as video %}

                    {% video video "tiny" %}

                {% endvideo %}

                {% if recursos.video.url !=  '/media/videosenviados/videoplayback.mp4' %}
                    <video controls>
                        <source src={{recursos.video.url}}>
                    </video>
                {% endif%}  
            </div>
    </div>


    
    <div class="card border-dark mb-3">
        <div class="card-header bg-dark"> Recursos de Resposta</div>
            <div class="card-body text-dark">
                <form method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            {% if recursos.recebe_texto == True %}
                                {{form.texto | bootstrap}}
                            {% endif%} 
                            {% if recursos.recebe_video_embedded == True %} 
                                {{form.video_embedded | bootstrap}}
                            {% endif %}
                            {% if recursos.recebe_video %}
                                <p>
                                    <a href="{% url 'edp:camera_resposta' edp.slug %}" class="btn btn-success btn-larger">Gravar Video </a> 
                                </p>  

                             {% endif %}
                            
                        </div>
                    <div class="pull-right">

                    <button class="save btn btn-success" type="submit">Salvar Resposta</button>
                    <a href="#" class="btn btn-danger" href="{{request.META.HTTP_REFERER}}" formnovalidate>Cancelar</a>

                    </div>

                </form>
            </div>
    </div>

{% endblock %}