{% extends 'base.html' %} {% block title %} {{title}}{% endblock %} 
                

{% block dashboard %}

<div style="padding: 10px;"></div>


<table class="table table-hover table-stripped table-responsive-sm table-sm">
    <thead>
      <tr>
        <th scope="col table-bordered">Título</th>
        <th scope="col">Respostas</th>
        <th scope="col">Ultima Resposta</th>       
      </tr>
    </thead>    {% for l in lista %}
    <tbody>
      <tr>
        <th scope="row">
            
        <a href="{% url 'edp:resposta_edp' l.id %}">{{l}}</a>
 </th>
  <td>{{l.all.count}}</td>
<th></th>     
</tr>

    </tbody>
    {%endfor%}
  </table>


{% endblock %}


