{% extends 'base.html' %} {% block title %} {{title}}{% endblock %} {% load static %}


      <!-- DataTables CSS -->
      <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

      <!-- DataTables Responsive CSS -->
      <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">

    


{% block dashboard %}

<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Estruturas Digitais de Aprendizagem</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pensando num titulo 
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dataTables_length" id="dataTables-example_length">
                                <label>Show <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                    <option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option>
                                </select> entries</label>
                                </div>
                            </div> 
                            <div class="col-sm-4">
                           {% if user.is_authenticated and user.eh_professor %}
                                <a href="{% url 'edp:nova_edp' %}" class="btn btn-success ">Nova <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></a> 
                            {% endif %}</div>
                            <div class="col-sm-4"><div id="dataTables-example_filter" class="dataTables_filter">
                                <label>Search:<input class="form-control input-sm" placeholder="" aria-controls="dataTables-example" type="search">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table  width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
                        <thead>
                            <tr role="row">
                                <th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 109.2px;" aria-label="Ordenar" aria-sort="descending">Título</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 121.2px;" aria-label="Ordenar">Habilidades</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 118.2px;" aria-label="Ordenar">Nível</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 91.2px;" aria-label="Ordenar">Professor</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 68px;" aria-label="Ordenar">Data de criação</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for edp in edps%}
                            <tr class="odd gradeX">
                                <td>
                                {% if user.eh_professor %}
                                <a  {% if edp.recursos.count == 1 %} href="{{edp.get_absolute_url}}" {%endif%} >{{edp}}</a>
                                {% else %}
                                <a {% if edp.recursos.count  %} href="{% url 'edp:responder_edp' edp.slug %}"  {%endif%} >{{edp}}</a>
                                {% endif %}
                            </td>
                                <td>
                                       
                                        <ul>
                                         {% for h in edp.habilidades.all %}
                                            <li class="ml-4">{{h}}</li> 
                                            {%endfor%}
                                        </ul>
                                       

                                </td>
                                <td>{{edp.get_nivel_display}}</td>
                                <td class="center">{{edp.usuario}}</td>
                                <td class="center">{{edp.created_at |date:"d/m/Y"}}</td>
                                {% empty%}
                                <td>Nenhuma <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr> disponível.</td> 
                            </tr>
                            {%endfor%}
  
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                    <div class="well">
                    Vou pensar de coloco algo aqui 
                       <!--TODO: eh interesssante algo aqui?  -->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->











<div style="padding: 10px;"></div>


<table class="table table-hover table-stripped table-responsive-sm table-sm">
    <thead>
      <tr>
        <th scope="col table-bordered">Título</th>
        <th scope="col">Habilidades</th>
        <th scope="col">Nível</th>
        <th scope="col">Data</th>
        <th scope="col">Professor(a)</th>
        <th scope="col"><abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    {% for edp in edps%}
    <tbody>
      <tr>
        <th scope="row">
            
            
            <a  {% if edp.recursos %} href="{{edp.get_absolute_url}}" {%endif%} >{{edp}}</a></th>
        <td>{% for h in edp.habilidades.all %}
            <ul class="list-group">
                <li class="ml-4">{{h}}</li>
            </ul>
            {%endfor%}</td>
        <td>{{edp.get_nivel_display}}</td>
        <td>{{edp.created_at |date:"d/m/Y"}}</td>
        <td>{{edp.usuario}}</td>
        <td> 

            <small class="text-right" >
             {% if user.is_authenticated and user.eh_professor %}
                <a href="{% url 'edp:editar_edp' edp.slug %}" class="sm"><i class="fa fa-edit"></i> </a>
                <a href="{% url 'edp:deletar_edp' edp.slug %}" class="sm"><i class="fa fa-trash-alt "></i> </a>


            </td>
            <td>
                {% if edp.recursos.count != 0 %}
                    <a href="#" class="btn btn-sm btn-info "><i class="fa fa-edit"></i> Recursos</a>   
                {% else %}
                    <a href="{% url 'edp:adicionar_recursos' edp.slug %}" class="btn btn-sm btn-warning "><i class="fa fa-plus"></i> Recursos</a> 
                {% endif %}
    
                {% elif user.is_authenticated and user.eh_aluno %}

                
                
                {% if  edp.recursos.count != 0 %}
                <a href="{% url 'edp:responder_edp' edp.slug %}" class="btn btn-sm btn-info ">Responder <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></a>
               {%endif%}

                
               
                
                {% endif %}
                
    
            </small>
            
        </td>   {% empty%}
   <td>Nenhuma <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr> disponível.</td> 
      </tr>

    </tbody> 
  
    {%endfor%}
  
  </table>


{% endblock %}



<script src="vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>



         


<script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
        </script>





