{% extends 'base.html' %} {% block title %} {{title}}{% endblock %}
{%load widget_tweaks %}



{% block dashboard %}

<div style="padding-top: 20px;padding-bottom: 20px;">{% if user.is_authenticated and user.eh_professor %}
<a href="{% url 'edp:nova_edp' %}" class="btn btn-success btn-lg ">Nova <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></a>
{% endif %}</div>

<script>
$(document).ready( function () {
    $('#myTable').DataTable(
    {
            "columnDefs": [
                { "orderable": true, "targets": 0 }
        ],
    paging: false
}    );

} );


</script>
{% if user.is_authenticated and user.eh_aluno %}
<div class="row">
        <div class="col-lg-12">
              
              <h3 class="page-header"> Sugestões</h3>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      
  <div class="row">

{% for edp  in edps_nivel %}

<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div ><b>{{edp}}</b></div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                {% if  edp.recursos.count != 0 %}

                    <a href="{% url 'edp:responder_edp' edp.slug %}">
                        <div class="panel-footer">
                            <span class="pull-left">Responder EDA</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
               
                   {%endif%}
      
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
{% endfor %}
</div>

{% endif %}

<div class="row">
        <div class="col-lg-12">
              
              <h3 class="page-header"> Todas as EDA disponiveis</h3>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      
<table  class="table table-hover table-stripped table-responsive-sm table-sm">
    <thead>
      <tr>
        <th scope="col table-bordered">Título</th>
        <th scope="col">Habilidades</th>
        <th scope="col">Nível</th>
        <th scope="col">Data</th>
        <th scope="col">Professor(a)</th>
        <th scope="col"><abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></th>
        <th scope="col"></th>

      </tr>
    </thead>
    {% for edp in edps%}
    <tbody>
      <tr>
        <th scope="row">


            <a  {% if edp.recursos and user.is_authenticated and user.eh_professor %} href="{{edp.get_absolute_url}}" {%endif%} >{{edp}}</a></th>
        <td>{% for h in edp.habilidades.all %}
            <ul class="list-group">
                <li class="ml-4">{{h}}</li>
            </ul>
            {%endfor%}</td>
        <td>{{edp.get_nivel_display}}</td>
        <td>{{edp.created_at |date:"d/m/Y"}}</td>
        <td>{{edp.usuario}}</td>
        <td>

            <small class="text-right" >
             {% if user.is_authenticated and user.eh_professor %}
                <a href="{% url 'edp:editar_edp' edp.slug %}" class="sm"><i class="fa fa-edit"></i></a>
                <a href="{% url 'edp:deletar_edp' edp.slug %}" class="sm"><i class="fa fa-trash"></i></a>


            </td>
            <td>
                {% if edp.recursos %}
                    <a href="{% url 'edp:editar_recursos' edp.slug %}" class="btn btn-sm btn-info "><i class="fa fa-edit"></i> Recursos</a>
                {% else %}
                    <a href="{% url 'edp:adicionar_recursos' edp.slug %}" class="btn btn-sm btn-warning "><i class="fa fa-plus"></i> Recursos</a>
                {% endif %}

                {% elif user.is_authenticated and user.eh_aluno %}



                {% if  edp.recursos.count != 0 %}
                <a href="{% url 'edp:responder_edp' edp.slug %}" class="btn btn-sm btn-info ">Responder <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr></a>
               {%endif%}




                {% endif %}


            </small>

        </td>   {% empty%}
   <td>Nenhuma <abbr title="Estrutura Digital de Aprendizagem" class="initialism">EDA</abbr> disponível.</td>
      </tr>

    </tbody>

    {%endfor%}

  </table>


{% endblock %}