<!-- templates/home.html--> 
{% extends 'dashboard.html' %}{%load staticfiles %} {% block title %}{{title}}{% endblock %}
{% load bootstrap %}
{% block dashboard %}



<form method="post">
        {% csrf_token %}
        {{ form | bootstrap }}
<div>
        <video id="your-video-id" controls autoplay=""></video>
        <button id="iniciar" class="btn btn-danger"> Começar gravação </button>
  
        <button id="terminar" class="btn" disabled>terminar</button>
    </div>
  
        <button class="btn btn-primary" type="submit">Salvar</button>
      

      </form>


{% endblock %}
{% block javascript%}
<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script type="text/javascript" src="{% static 'gravador.js' %} "></script>
{% endblock %}
