{% extends 'base.html' %} {% block title %} {{title}}{% endblock %} 
                

{% block dashboard %}

<div style="padding: 10px;"></div>


<table class="table table-hover table-stripped table-responsive-sm table-sm">
    <thead>
      <tr>
        <th scope="col table-bordered">Título</th>
        <th scope="col">Data</th>
       </tr>
    </thead>    {% for l in respostas %}
    <tbody>
      <tr>
        <th scope="row">
            
        <a href="#">{{l}}</a>
            </th>
            <th>

                {{l.updated_at}}
            </th>
       
      </tr>

    </tbody>
    {%endfor%}
  </table>


{% endblock %}


