<!-- templates/home.html-->
{% extends 'dashboard.html' %} {% block title %} {{title}}{% endblock %} {% block dashboard_content %}




<a href="{% url 'edp:nova_turma' %}" class="btn btn-success">Nova Turma</a>

<div class="row ">
    {% for turma in turmas %}
    <div class="col-md-3 p-2">
        <div class="card">
            <div class="card-block">
                <h5 class="card-title">
                    <a href="#">{{turma}}</a>
                </h5>
                <p>{{turma.start_date}}</p>
             </div>
            <div class="card-footer text-right">
                <a href="{% url 'edp:nova_matricula' turma.slug %}" class="btn btn-primary ">Matricular</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>





{% endblock %}