<!-- templates/registration/login.html -->
{% extends 'base.html' %} {%load static %} {%block title%} Entrar {%endblock%} {% block content %}
<div class="text-center">
    <h2>Login</h2>


    <form action="." method="post" class="form-signin">
            {% csrf_token %}
            <hr />
            <div class="form-group row">
                <label for="id_username" class="col-md-2 control-label">Usuário</label>
                <div class="col-md-10" >
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_password" class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    {{ form.password }}
                </div>
            </div>
            <div class="align-middle">
                

                    <button type="submit" class="btn btn-success">Entrar</button>
                    <a class="btn btn-primary" href="{% url 'accounts:cadastro' %}"> Cadastrar</a>

                
            </div>
            {% if form.errors %}
            <p class="validation-summary-errors">Senha ou usuário incorretos.</p>
            {% endif %}
        </form>




</div>



{% endblock %}