<!-- templates/registration/login.html -->
{% extends 'base.html' %} {%load static %} {%block title%} Entrar {%endblock%} {% block content %}
{%load bootstrap   %} {% load widget_tweaks %}
<div style="max-width: 330px;" >
<form method="post">
        <legend>Entrar</legend>
        {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
      
      {% for field in form.visible_fields %}
        <div class="form-group row">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field | add_class:'form-control'}}
          {% for error in field.errors %}
            <span class="help-block text-danger">Senha ou usuário incorretos.</span>
          {% endfor %}
        </div>
      {% endfor %}
        
      <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">Entrar</button>
              <a class="btn btn-primary" href="{% url 'accounts:cadastro' %}"> Cadastrar</a>
  
            </div>
  </div>

    </form>

</div>



{% endblock %}